<!-- -->
<form>
  <div class="input-group">
    <label for="doctor-name">Doctor Name</label>
    <input class="form-control" type="text" name="doctor-name" placeholder="Doctor Name">
  </div>
  <input class="btn" type="submit">
</form>
