<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>MEDIC!</h1>

    #parse ($template)
    
    #if($doctor-form)
      #parse($doctor-form)
    #end
  </body>
</html>
